{% extends './navbar.html' %}
{% load static %}

{% block title %}Index Page{% endblock title %}
{% block body %}
<div class="d-flex ">
    <div class="w-25 bg-secondary text-decoration-none" id="listuser">
        <ul class="p-0">
            {% for data in userData %}
            <a href="{{data.id}}" class="text-decoration-none">
                <li class="listforuser">
                    <img src="/media/{{data.profileImages}}" alt="mdo" width="50" height="50"
                        class="rounded-circle me-3">
                    <div class="d-flex flex-column">
                        <p class="m-0 fw-bold text-light ">{{data.username}}</p>
                        <span class="changeingstatus">Last-Login: <span> {% if data.last_login == None %}Faw Day Befor
                                {% else %} {{ data.last_login }} {% endif %}</span></span>
                    </div>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>


    <div class="w-75" id="chatarea">
        {% if reciverData is not None %}
        <div class="bg-secondary p-3 ">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                    <img src="/media/{{reciverData.profileImages}}" alt="mdo" width="50"
                        height="50" class="rounded-circle me-3">
                    <div class="d-flex flex-column">
                        <p class="m-0 fw-bold text-light">{{reciverData.username}}</p>
                        <span class="changeingstatus">Online</span>
                    </div>
                </div>
                <div class="d-flex">
                    <a href="tel:{{reciverData.phoneNumber}}" class="text-light text-decoration-none">
                        <i id="icon" class="fa fa-phone" aria-hidden="true"></i>
                    </a>
                    <a href="" class="text-light d-block text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i id="icon" class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </a>
                    <ul class="dropdown-menu text-small" style="">
                        <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#reciverinfo">Profile</a>
                        </li>
                        <li><a class="dropdown-item" href="">Block</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column text-decoration-none">
            <div id="chatareaallmeassage" class="d-flex flex-column justify-content-end">
                <div class="messagelist" id="messagelist" >
                    {% if messagehistory is not None %}
                        {% for data in messagehistory %}
                            <div class="message {% if data.senderUserInfo == request.user.id %} sent {% elif data.senderUserInfo == reciverData.id  %} received {% endif %}">
                                {{data.message}}
                                <span class="metadata">
                                    <span class="time">{{data.sendTime}}</span><span class="tick"></span>
                                </span>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="bg-light">
                    {% csrf_token %}
                    <div class="d-flex">
                        <div class="w-100">
                            <input class="w-100 sendmessage p-2 bg-light bg-opacity-5 border border-dark rounded-end"
                                type="text" name="messagecontain" id="message_send_input" placeholder="Send Message">
                        </div>
                        <div>
                            <button onclick="sendfunction()" class="sendbtn" name="sendMessage">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
            </div>
        </div>
        <div class="modal fade" id="reciverinfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Profile Informations</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <tr>
                                <td>User Name</td>
                                <td>{{reciverData.username }}</td>
                            </tr>
                            <tr>
                                <td>First Name</td>
                                <td>{{reciverData.first_name }}</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>{{reciverData.last_name }}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{reciverData.email }}</td>
                            </tr>
                            <tr>
                                <td>Phone</td>
                                <td>{{reciverData.phoneNumber}}</td>
                            </tr>
                            <tr>
                                <td>Gender</td>
                                <td>{{reciverData.gender }}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        {{ reciverData.id|json_script:"reciver_id" }}
        {{ request.user.id|json_script:"sender_id" }}
        
        <script src="{% static 'script/message.js' %}"></script>
        <script>
            $(document).ready(function () {
                $('#messagelist').scrollTop($('#messagelist')[0].scrollHeight);
            });
        </script>
        {% else %}
        restore
        {% endif %}
    </div>

</div>


{% endblock body %}

